#container{
	padding: 25px;
	width: 200px;
	margin: 20px auto;
	position: relative;
	background: #D0E4FE;
	border: 5px solid #A0B4CE;
	border-radius: 15px;
	text-align: center;
}

textarea {
	border: 5px solid #A0B4CE;
	border-radius: 15px;
	width: 94%;
	resize: none;
	margin-bottom: 20px;
}

p {
	font-size:20px;
	color: #FFF;
	text-shadow: 1px 1px #000;
	font-weight: bold;
}

button {
	padding: 10px;
	color: #DDD;
	text-shadow: 1px 1px #000;
	background-color: #456;
	border: 5px solid #A0B4CE;
	border-radius: 15px;
	width: 100%;
	font-size:18px;
	color: #FFF;
	text-shadow: 1px 1px #000;
}

#resultaat {
	text-align: left;
}